/* *GENERAL* */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial;
  font-size: 16px;
  background-color: rgb(233, 236, 236);
}

a {
  text-decoration: none;
}

section {
    padding: 2rem 5rem;
}

section:nth-child(odd) {
    background-color: rgb(29, 56, 231);
}


/* *NAVBAR* */

header {
  display: flex;
  justify-content: space-between;
  background-color: #e7cc1d;
  height: 75px;
  width: 100vw;
  position: fixed;
  padding: 0 5rem;
  z-index: 99;
}

#logo {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

#logo #header-img {
  height: 100%;
  margin-right: 1rem;
}

nav {
  display: flex;
  justify-content: space-around;
}

.nav-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: yellow;
  width: 150px;
  font-size: 1.2rem;
  margin-left: 1rem;
}

/* *WELCOME SECTION* */

#welcome-section {
  height: 100vh;
  background-image: url(assets/cat_massage.gif);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

#welcome-content {
  background-color: rgba(29, 56, 231, 0.7);
  height: 300px;
  width: 800px;
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

#welcome-content p {
  margin-bottom: 1rem;
}

#welcome-content #submit {
  padding: 1rem 2rem;
}

#welcome-content input {
  padding: 1rem 3.5rem;
  font-size: 1.2rem;
}

/* *FOOTER SECTION* */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: navy;
  color: yellow;
  height: 50px;
}
