.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: cornflowerblue;
}


#quote-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 60vw;
  background-color: rgb(196, 210, 235);
  border-radius: 10px;
  font-size: 2rem;
}


#quote-content {
  padding: 2rem;
}

#author {
  margin-top: 1rem;
}

#quote-buttons{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 2rem;
}

.quote-button {
  height: 3rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1rem;
  border-radius: 10%;
  cursor: pointer;
}

#tweet-quote {
  background-color: cornflowerblue;
  
}

#new-quote {
  background-color: orangered;
  cursor: pointer;
}

footer {
  margin-top: 3rem;
  
}


@media screen and (max-width: 500px) {
  #quote-buttons {
    flex-direction: column;
  }
  .quote-button {
    margin-top: 1rem;
  }

  #quote-content {
    padding: 1rem;
  }
}